<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/products.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet"

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>



  <!-- App JS -->
  <script type="text/javascript" src="/scripts/admin_products_scripts.js"></script>

  <title>Products</title>
</head>

<body>
  <!-- Nav-header partial -->
  <%- include('partials/header') %>

  <header class='header'>
    <h1 id="products">Products</h1>
  </header>

  <%- include('partials/admin_filter_sidebar') %>

  <main id='products-container'>
    <% for(let product of products) { %>
    <article id="product-<%= product['id'] %>" class="product">
      <div class="product-content">
        <div class="description-section">
          <div class="description-information">
            <h3><%= product['name'] %></h3>
            <p><b>Description: </b><%= product['description'] %></p>
            <p><b>Price: $</b><%= product['price'] %></p>
            <p><b>Seller Name: </b><%= product['seller_name'] %></p>
            <p><b>Seller ID: </b><%= product['seller_id'] %></p>
            <p><b>Product ID: </b><%= product['id'] %></p>
        </div>
          <div class="image-content">
            <img src="<%= product['image_url'] %>" width="200" height="200" class="product-image">
          </div>
        </div>
        <div class="button-section">
          <form method="GET" action="products/<%= product['id'] %>">
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
          <form id="delete-button" method="POST" action="products/<%= product['id'] %>/delete" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
          <form id="sold-button" method="POST" action="products/<%= product['id'] %>/sold" onsubmit="return confirm('Mark this item as sold?');">
            <button type="submit" class="btn btn-primary">Mark Sold</button>
          </form>
        </div>
      </div>
    </article>
    <% } %>
  </main>

  <%- include('partials/footer') %>
</body>

</html>
