<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/singleProduct.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/single_products_scripts.js"></script>

    <title>Product Page</title>
  </head>

  <body>
    <%- include('partials/header') %>

    <main id="productPage-form">
      <h3 style="color: white; font-size: 40px;">Product Information</h3>

        <div id="single-product-description">
          <div id="single-product-container">
            <div class="single-product-image">
            <p><img src="<%= product['image_url'] %>" id="single_product_image"<p>
          </div>
        <div id="single-page-description">
            <p><b>Seller Name:</b> <%= seller_name %> </p>
            <p><b>Seller ID: </b> <%= product["seller_id"]%>  </p>
            <p><b>Product Name: </b> <%= product["name"]%></p>
            <p><b>Brand: </b><%= product["brand"]%></p>
            <p><b>Price: $</b><%= product["price"]%></p>
            <p><b>Screen Size: </b><%= product["screen_size"]%></p>
            <p><b>Color: </b><%= product["color"]%></p>
            <p><b>Operating System: </b><%= product["operating_system"]%></p>
            <p><b>Hard Drive Capacity: </b><%= product["hard_drive_capacity"]%><p>
            <p><b>RAM: </b><%= product["RAM"]%></p>
            <p><b>Description: </b></Description><%= product["description"]%></p>
          </div>
        </div>

      </div>

    </div>

    <% if (is_admin) { %>
      <div class="single-product-page-buttons">
      <form method="GET" action="/newMessage/<%=product['id']%>/<%=product['seller_id']%>" class="contact-seller-button">
        <button type="submit" class="btn btn-primary">Contact Seller</button>
    <% } else {%>

    <div class="single-product-page-buttons">
      <form method="GET" action="/newMessage/<%=product['id']%>/<%=product['seller_id']%>" class="contact-seller-button" target="_blanks">
        <button type="submit" class="btn btn-primary">Contact Seller</button>
      </form>
      <%- include('partials/favorite', {product, product}) %>
      <%- include('partials/unfavorite', {product, product}) %>

<% } %>
  </main>

    <%- include('partials/footer') %>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
